$margin : 8px;

.addShoesForm {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  border: 1px solid black;

  &__input {
    width: 50%;
    padding: 8px;
    margin-bottom: 8px;
    &--description {
      width: 100%;

    }
  }

  &__button {
    width: 100%;
    padding: 8px;

  }

}