body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-size: 16px;
}

.headpiece { 
  width: 50%;
  border: 1px solid red;
  margin: auto;
  text-align: center;
  padding: 16px 32px;
  &__title {
    font-size: 3rem;
  }
  &__button {
    width: 80%;
    padding: 8px 16px;
    margin-bottom: 32px;
  }
}
