*{
  box-sizing: border-box;
}

$cart-width: 300px;


.main-content {
  padding: 32px;
  background:lightcyan;
  display: flex;
  flex-wrap: wrap;
}

.product-line {
  width: calc(100% - #{$cart-width});
  background: lightblue;
  min-height: 200px;
  border: 1px solid blue;
  padding: 0 8px;
  
}

.cart {
width: $cart-width;
background: lightgreen;
min-height: 200px;
padding: 0 8px;
border: 1px solid green;
overflow-x: scroll;
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin-bottom: 8px;
    border-bottom: 1px solid green;
    padding-bottom: 8px;
    &:last-child{
      border-bottom: 4px solid green;
    }
  }
  &__summ {
    padding-top: 16px;
    font-size: 20px;
  }
  &__button {
    margin-left: 8px;
    color: white;
    padding: 4px;
    background: green;
    border: none;

  }

}

.listItems{
  width: 100%;
  background: lightsalmon;
  padding: 8px;
  
  border: 1px solid orange;
}

.shoes {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0; 
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid blue;
  }
  &__image-wrapper {
    display: flex;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    width: 30%;
    min-width: 100px;
    justify-content: center;
    align-items: center;
  }
  &__image {
    max-width: 100%;
    height: 100px;
  }
  &__about {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 60%;
    justify-content: space-between;
  }
  &__name {
    margin: 0;
  }
  &__price{
    margin-left: 32px;
  }
  &__description {
    margin: 0;
  }
  &__button {
    padding: 8px;
    transition: 0.5s;
    cursor: pointer;
    &[disabled]{
      color: white;
      cursor: auto;
      border:none;
      background: lightcoral;
      text-transform: uppercase;
      font-size: 16px;
      transform: translate(-30px, -20px) scale(1.2) rotate(-5deg);
    }
  }

}


.editShoesForm {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  border: 1px solid black;

  &__input {
    width: 50%;
    padding: 8px;
    margin-bottom: 8px;
    &--description {
      width: 100%;

    }
  }

  &__button {
    width: 100%;
    padding: 8px;

  }

}
