* {
  box-sizing: border-box; }

.main-content {
  padding: 32px;
  background: lightcyan;
  display: flex;
  flex-wrap: wrap; }

.product-line {
  width: calc(100% - 300px);
  background: lightblue;
  min-height: 200px;
  border: 1px solid blue;
  padding: 0 8px; }

.cart {
  width: 300px;
  background: lightgreen;
  min-height: 200px;
  padding: 0 8px;
  border: 1px solid green;
  overflow-x: scroll; }
  .cart__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .cart__item {
    margin-bottom: 8px;
    border-bottom: 1px solid green;
    padding-bottom: 8px; }
    .cart__item:last-child {
      border-bottom: 4px solid green; }
  .cart__summ {
    padding-top: 16px;
    font-size: 20px; }
  .cart__button {
    margin-left: 8px;
    color: white;
    padding: 4px;
    background: green;
    border: none; }

.listItems {
  width: 100%;
  background: lightsalmon;
  padding: 8px;
  border: 1px solid orange; }

.shoes__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.shoes__item {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid blue; }

.shoes__image-wrapper {
  display: flex;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  width: 30%;
  min-width: 100px;
  justify-content: center;
  align-items: center; }

.shoes__image {
  max-width: 100%;
  height: 100px; }

.shoes__about {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 60%;
  justify-content: space-between; }

.shoes__name {
  margin: 0; }

.shoes__price {
  margin-left: 32px; }

.shoes__description {
  margin: 0; }

.shoes__button {
  padding: 8px;
  transition: 0.5s;
  cursor: pointer; }
  .shoes__button[disabled] {
    color: white;
    cursor: auto;
    border: none;
    background: lightcoral;
    text-transform: uppercase;
    font-size: 16px;
    transform: translate(-30px, -20px) scale(1.2) rotate(-5deg); }

.editShoesForm {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  border: 1px solid black; }
  .editShoesForm__input {
    width: 50%;
    padding: 8px;
    margin-bottom: 8px; }
    .editShoesForm__input--description {
      width: 100%; }
  .editShoesForm__button {
    width: 100%;
    padding: 8px; }
